
<h2> Welcome to Rock Paper Scissors! </h2>
<p> Here's how to play the game: </p>
<p> Number of players: 2 </P>
<p> Players form a shape with their hands etc etc etc</p>
<form>
  <legend>Player1</legend>
	<select id="hand1" name="Hand1">
		<option value="rock">Rock</option>
		<option value="paper">Paper</option>
		<option value="scissors">Scissors</option>
	</select>
</form>

<form>
	<fieldset>
		<legend>Player 1</legend>
		<label for="choice1">rock</label>
	   <input type="checkbox" id="choice1" name="rock" value="1" />
	   	<label for="choice2">paper</label>
	   <input type="checkbox" id="choice2" name="paper" value="2" />
     <label for="choice3">scissors</label>
    <input type="checkbox" id="choice3" name="scissors" value="3" />
  </fieldset>

  <fieldset>
		<legend>Player 2</legend>
		<label for="choice1">rock</label>
	   <input type="checkbox" id="choice1" name="rock" value="1" />
	   	<label for="choice2">paper</label>
	   <input type="checkbox" id="choice2" name="paper" value="2" />
     <label for="choice3">scissors</label>
    <input type="checkbox" id="choice3" name="scissors" value="3" />
  </fieldset>

</form>
